// $accentColor = #e0aa1b // 默认主题颜色
// $textColor = red // 默认字体颜色
// $borderColor = #eaecef // 默认边框颜色
// $codeBgColor = #282c34 // 默认背景颜色

$themeGrayColor = #f6f7f8
$colorEee = #eeeeee
p
	word-break break-all

.navbar
	background-color $themeGrayColor !important
	.links
		background-color $themeGrayColor
.sidebar
	background-color $themeGrayColor !important
	&::-webkit-scrollbar
		width 4px
	&::-webkit-scrollbar-thumb
		background $colorEee
		border-radius 2px
		display none

.sidebar:hover
	&::-webkit-scrollbar-thumb
		display block
