// $accentColor = #e0aa1b // 默认主题颜色
// $textColor = red // 默认字体颜色
// $borderColor = #eaecef // 默认边框颜色
// $codeBgColor = #282c34 // 默认背景颜色
p
	word-break break-all

.navbar
	background-color #f6f7f8 !important
	.links
		background-color #f6f7f8
.sidebar
	background-color #f6f7f8 !important
	&::-webkit-scrollbar
		width 4px
	&::-webkit-scrollbar-thumb
		background #eeeeee
		border-radius 2px
		display none

.sidebar:hover
	&::-webkit-scrollbar-thumb
		display block
